body{
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
}
nav {
    padding: 0 !important;
}
section {
    background-color: #f0f0f0;
}

.x-anton{
    font-family: 'Anton', sans-serif;
}

img {
    border: .5rem solid #e6e6e6;
}
#nav-img {
    border: none;
}

.x-badge-big {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    font-size: large;
    padding: 50% 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.x-white-badge {
    background-color: #ffffff;
}

.x-red-badge {
    background-color: #E6563B;
}
.x-yellow-badge {
    background-color: #EB9D3A;
}
.x-green-badge {
    background-color: #7CB06C;
}
.x-blue-badge {
    background-color: #00ABA9;
}

@media screen and (max-width: 767px){
    hr {
        display: none;
    }
    
}
