body{
    font-family: 'Abel', sans-serif;
    background-color: #f0f0f0;
}
section {
    background-color: #f0f0f0;
}

.x-anton{
    font-family: 'Anton', sans-serif;
}

img {
    border: 1rem solid #e6e6e6;
}
#nav-img {
    border: none;
}

.x-badge-big {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    font-size: large;
    padding: 50% 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px){
    hr {
        display: none;
    }
    
}
